<body>
    <section>
        <div class="form-box" *ngIf ='registerMode'>
            <div class="form-value">
                <form action="">
                    <h2>Register</h2>
                    <div class="inputbox">
                        <input type="text" name="name"[(ngModel)]="model.name">
                        <label for="">Name</label>
                    </div>
                    <div class="inputbox">
                        <input type="password" name="password"[(ngModel)]="model.password">
                        <label for="">Password</label>
                    </div>
                    <div class="inputbox">
                        <input type="text" name="address"[(ngModel)]="model.address">
                        <label for="">Adddress</label>
                    </div>
                    <div class="inputbox">
                        <input type="text" name="phone"[(ngModel)]="model.phone">
                        <label for="">Phone</label>
                    </div>
                    <div class="inputbox">
                        <input type="text" name="email"[(ngModel)]="model.email">
                        <label for="">Email</label>
                    </div>
                    <button (click)="register()">Register</button>
                </form>
            </div>
        </div>
        <div class="form-box" *ngIf ='inputCodeMode'>
            <div class="form-value">
                <form action="">
                    <h2>PIN sent to email!</h2>
                    <div class="inputbox">
                        <input type="text" name="name"[(ngModel)]="code">
                        <label for="">PIN code</label>
                    </div>
                   
                    <button (click)="checkInputCode()">Send</button>
                </form>
            </div>
        </div>
    </section>
</body>